@import "./sass/image";
@import "./sass/overlay";
@import "./sass/video";

:host(html, body) {
  overflow: hidden;
  background: #ffffff;
}
.no-show {
  display: none;
}
.projection {
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute;
  display: block;
  background-color: black;
}
.overlay {
  overflow: hidden;
}
.shadow {
  text-shadow: 5px 5px 10px #000000;
}
