<div class="modal-header">
  <h4 class="modal-title">Bíblia</h4>
  <button type="button" class="close" aria-label="Close" (click)="close()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <div class="bible">
    <div class="title">
      Versões
    </div>
    <div class="item" *ngFor="let version of versions" [ngClass]="{'active': version == selectedVersion}"
      (click)="selectVersion(version)">
      {{version}}
    </div>
  </div>

  <div class="selection" *ngIf="showSearch">
    <div class="title">
      Livro
    </div>
    <div class="book">
      <input type="text" class="form-control" placeholder="A sintaxe de procura" [(ngModel)]="search"
        (keydown.enter)="bibleSearch(search)">
    </div>
    <div class="results" *ngIf="results.length > 0 ">
      <div class="item" *ngFor="let result of results; index as i" [ngClass]="{'selected': i == resultSelected}">
        <div class="location">
          {{result.book}} {{result.ref}}
        </div>
        <div class="text">
          {{result.text}}
        </div>
      </div>
    </div>
    <div class="options" *ngIf="results.length > 0 ">
      <div class="opt">
        Adc. Apresentação
      </div>
      <div class="opt">
        Ao Vivo
      </div>
    </div>
  </div>
</div>