.image-show {
  position: relative;
  display: block;
  max-width: 100%;
  max-height: 100%;
  background-color: black;
  object-fit: cover;
  background-repeat: no-repeat;
  margin: auto;
  top: 50%;
  transform: translateY(-50%);
}
