.overlay {
  position: absolute;
  display: table;
  width: 100vw;
  height: 100%;
  top: 0%;
  text-align: center;
  color: white;
  z-index: 1;
  box-shadow: 0;
  background: transparent;
}
.overlay > p {
  position: relative;
  display: table-cell;
  vertical-align: middle;
  white-space: pre-line;
  width: 100%;
  height: 100%;
  top: 0%;
  color: white;
  padding: 1rem;
}
.overlay > span {
  position: absolute;
  display: block;
  vertical-align: bottom;
  text-align: left;
  width: 100%;
  bottom: 0;
  left: 0;
  color: white;
  font-size: 2rem;
  box-shadow: 0;
  z-index: 2;
  padding: 1rem;
}
