
.video-player{
    position: relative;
    display: block;
    max-width: 100%;
    max-height: 100%;
    width: 100%;    
    height: 100%;    
    background-color: black;
    object-fit: cover;
    margin: auto;
    top: 50%;
    transform: translateY(-50%);
}