@import "../../../assets/colors";
@import "../../../assets/_modal.sass";
.help {
  display: block;
  width: 100%;
  height: auto;
  padding: 0.5rem;
  background: transparent;
}

.help .topic {
  display: block;
  width: 100%;
  height: auto;
  cursor: pointer;
  border-bottom: 0.05rem solid $dark-purple;
  animation: all 0.2s ease;
  &:last-child {
    border: 0;
  }
}

.help .topic .explanation {
  display: none;
}

.help .topic:hover .explanation {
  display: block;
  width: 100%;
  height: auto;
  padding: 0.5rem;
}

.help .topic .explanation .sub {
  border-bottom: 1px solid white;
  &:last-child {
    border: 0;
  }
  & .title {
    font-size: 1rem;
    &::before {
      content: "·";
      font-size: 1rem;
    }
  }

  & .explanation {
    font-size: 0.8rem;
  }
}
