<div class="live-control">
  <button class="btn btn-block btn-outline-light montserrat-SemiBold" (click)="blackScreen()">
    Tela Preta
  </button>
  <button class="btn btn-block btn-outline-light montserrat-SemiBold" (click)="logoScreen()">
    Logo
  </button>
  <button class="btn btn-block btn-outline-light montserrat-SemiBold" (click)="backSelectScreen()">
    Fundo
  </button>
  <button class="btn btn-block btn-outline-light montserrat-SemiBold" (click)="clearScreen()">
    Limpar Textos
  </button>
  <button class="btn btn-block btn-outline-light montserrat-SemiBold" (click)="removeBackground()">
    Remover Fundo
  </button>
</div>