/* You can add global styles to this file, and also import other style files */
@import "./assets/colors";
@import "./assets/fonts/fonts.scss";

html, body{
  background-color: $rich-black;
  max-width: 100vw;
  max-height: 100vh;
  overflow: hidden;
}

* {
  font-family: 'Montserrat', sans-serif;
  user-select: none;
}


/* width */
::-webkit-scrollbar {
  width: 6px;
  border-radius: 2rem
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent; 
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: $dark-purple; 
  height: .2rem;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: $dark-purple; 
}
