@import "./styles/action";

.toastr {
  display: table;
  position: absolute;
  width: 100%;
  height: 3vh;
  color: white;
  font: calc(100vw / 64);
  bottom: 0;
  cursor: default;
  z-index: 10000;
  clear: left;
}

.toastr.success {
  background: #6a96538c;
}

.toastr.error {
  background: #c931318c;
}

.toastr.question {
  background: #3161c98c;
}

.toastr.info {
  background: #c931b58c;
}

.toastr .toastr-body {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  transition: all 2s ease;
}
